<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Hello World!</title>
    <style>
      body {
        background-color: black;
      }
      h1 {
        color: white;
      }
    </style>
  </head>
  <body>
    {% if going_up %}
    <h1>Going Up Arrow!!</h1>
    {% else %}
    <h1>Going Down Arrow!!</h1>
    {% endif %}
  </body>

  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"
    integrity="sha256-bQmrZe4yPnQrLTY+1gYylfNMBuGfnT/HKsCGX+9Xuqo="
    crossorigin="anonymous"
  ></script>
  <script>
    var socket = io();
    socket.on("connect", function() {
      socket.emit("my event", { data: "I'm connected!" });
    });
  </script>
</html>
